html{
    background-color: bisque;
}
.test0{
    color: rgb(13, 95, 24);
    text-align:center;
    
}
.test1{
    text-align:right;
    font-family: 'AL Cinderella';
}
.test2{
    text-align:center;
}
.test3{
    text-align:center;
}
p{
    color: rgb(9, 2, 17);
}
h3{
    color: brown;
   
}
.gmi_1{
    width: 500px;
}
.gmi_2{
    width: 500px;
}
.gmi_3{
    width: 500px;
}
h1{
    font-size: 3rem;
}
.lo_1{
    font-size: 2rem;
    color: rgb(199, 11, 20);
}
h3{
    font-size: 2rem;
}

@font-face {
	font-family: 'AL Cinderella';
	src: url('resours/fonts/al_cinderella.eot'); /* IE 9 Compatibility Mode */
	src: url('resours/fonts/al_cinderella.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('resours/fonts/al_cinderella.woff2') format('woff2'), /* Super Modern Browsers */
		url('resours/fonts/al_cinderella.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('resours/fonts/al_cinderella.ttf') format('truetype'), /* Safari, Android, iOS */
		url('resours/fonts/al_cinderella.svg#al_cinderella') format('svg'); /* Chrome < 4, Legacy iOS */
}